<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<a href="{{ path('articles') }}">{% trans %}All Posts{% endtrans %}</a>
<a href="{{ path('popular') }}">{% trans %}Popular{% endtrans %}</a>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="#">{% trans %}Preferences{% endtrans %}</a>
    <a href="{{ path('profile') }}">{% trans %}My profile{% endtrans %}</a>
    <a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
{% endif %}
{% if is_granted('ROLE_BLOGGER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
    <a href="{{ path('my_articles') }}">{% trans %}My Posts{% endtrans %}</a>
    <a href="{{ path('create_article') }}">{% trans %}Create New Post{% endtrans %}</a>
{% endif %}
{% if not is_granted('IS_AUTHENTICATED_FULLY')%}
    <a href="{{ path('login') }}">{% trans %}Login{% endtrans %}</a>
    <a href="{{ path('register') }}">{% trans %}Register{% endtrans %}</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
    <a href="{{ path('administration_users') }}">{% trans %}Administration Users{% endtrans %}</a>
    <a href="{{ path('administration_articles') }}">{% trans %}Administration Articles{% endtrans %}</a>
{% endif %}
<a href="{{ path('lang', {'lang': 'en'}) }}">English</a>
<a href="{{ path('lang', {'lang': 'ru'}) }}">Русский</a>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>