{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
    <style>
        .author a{
            color:white;
        }
        .sort a {
            color: blue;
        }
    </style>
    <div class="container">
        <h2>List of Articles</h2>
        {{ knp_pagination_filter(articles, {
            't.title': 'Title',
            't.author': 'Author'
        }) }}
        <div class="sort">
            Sort by:
            {{ knp_pagination_sortable(articles, 'Date', 't.created_at') }}
            {{ knp_pagination_sortable(articles, 'Author', 't.author') }}
            {{ knp_pagination_sortable(articles, 'Title', 't.title') }}
        </div>
        <br>
        {% for article in articles %}
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div>Title: {{ article.title }}</div>
                    <br>
                    <div class="author">Author: <a href="{{ path('blogger_articles', {'email': article.author }) }}">{{ article.author }}</a></div>
                    <br>
                    <div>Date: {{ article.created_at|date("F jS \\a\\t g:ia") }}</div>
                    <br>
                    <div>Content: <br> {{ article.content }}</div>
                    <div class="text-white bg-white"><a href="{{ path('single_article', {'article': article.id }) }}">Watch</a></div>
                    <br>
                    <div>Likes: {{ article.likes_count }}</div>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                        <div class="text-white bg-white"><a href="{{ path('update_article', {'article': article.id}) }}">Edit</a></div>
                        <div class="text-white bg-white"><a href="{{ path('article_delete', {'article': article.id }) }}">Delete</a></div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}