{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}
{% block body %}
    <style>
        .author a{
            color:white;
        }
        .sort a {
            color: blue;
        }
    </style>
    <div class="container">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') or is_granted('ROLE_BLOGGER') %}
            <a href="{{ path('create_article') }}">Create Article</a>
        {% endif %}
        {% if user.count == 0 %}
            <h1>This user doesn't have articles!</h1>
        {% endif %}
        {% for article in user.items %}
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div>Title: {{ article.title }}</div>
                    <br>
                    <div class="author">Author: <a href="{{ path('blogger_articles', {'email': article.user.email }) }}">{{ article.user.email }}</a></div>
                    <br>
                    <div>Date: {{ article.createdAt|date("F jS \\a\\t g:ia") }}</div>
                    <br>
                    <div>Content: <br> {{ article.content }}</div>
                    <div class="text-white bg-white"><a href="{{ path('single_article', {'article': article.id }) }}">Watch</a></div>
                    <br>
                    <div>Likes: {{ article.likesCount }}</div>
                </div>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(user) }}
        </div>
    </div>
{% endblock %}