{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
    <style>
        .author a{
            color:white;
        }
        .sort a {
            color: blue;
        }
    </style>
    <div class="container">
        <h2>{% trans %}List of Articles{% endtrans %}</h2>
        {%if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') or is_granted('ROLE_BLOGGER') %}
            <a href="{{ path('create_article') }}">{% trans %}Create Article{% endtrans %}</a>
        {% endif %}
        {% for article in articles %}
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div>{% trans %}Title{% endtrans %}: {{ article.title }}</div>
                    <br>
                    <div class="author">{% trans %}Author{% endtrans %}: <a href="{{ path('blogger_articles', {'email': article.author }) }}">{{ article.author }}</a></div>
                    <br>
                    <div><img src="{{ asset('uploads/images/') ~article.image }}" alt="" width="200px" height="200px"></div>
                    <br>
                    <div>{% trans %}Date{% endtrans %}: {{ article.created_at|date("F jS \\a\\t g:ia") }}</div>
                    <br>
                    <div>{% trans %}Content{% endtrans %}: <br> {{ article.content|slice(0,3) }}...</div>
                    <div class="text-white bg-white"><a href="{{ path('single_article', {'article': article.id }) }}">{% trans %}Watch{% endtrans %}</a></div>
                    <br>
                    <div>{% trans %}Likes{% endtrans %}: {{ article.likes_count }}</div>
                </div>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}