{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}
{% block body %}
    <style>
        .author a{
            color:white;
        }
        .sort a {
            color: blue;
        }
    </style>
    <div class="container">
{#        <h2>List of Articles for {{ user.firstName }}</h2>#}
        <a href="{{ path('create_article') }}">Create Article</a>
        {% if user.count == 0 %}
            <h1>You don't have articles!</h1>
        {% endif %}
        {% for article in user.items %}
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div>Title: {{ article.title }}</div>
                    <br>
                    <div class="author">Author: <a href="{{ path('blogger_articles', {'email': article.user.email }) }}">{{ article.user.email }}</a></div>
                    <br>
                    <div>Date: {{ article.createdAt|date("F jS \\a\\t g:ia") }}</div>
                    <br>
                    <div>Content: <br> {{ article.content }}</div>
                    <br>
                    <div>Likes: {{ article.likesCount }}</div>
                    <div class="text-white bg-white"><a href="{{ path('single_article', {'article': article.id }) }}">Watch</a></div>
                    <div class="text-white bg-white"><a href="{{ path('update_article', {'article': article.id}) }}">Edit</a></div>
                    <div class="text-white bg-white"><a href="{{ path('article_delete', {'article': article.id }) }}">Delete</a></div>
                </div>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(user) }}
        </div>
    </div>
{% endblock %}